<div class="page edit_photo_page" data-page="edit.photo">
    <div class="navbar ">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link  "> <i class="f7-icons icon-header-arrow-back"></i></a>
            </div>
            <div class="left navbar_title ">{{@global.LANGUAGE.PHOTO_EDIT_MSG00}}</div>
            <div class="right">
                <a href="#" class="link savePhoto"><i class="f7-icons icon-header-apply"></i></a>
            </div>
        </div>
    </div>
    <div class="page-content">

        <div style="" class="mui-content">
            <div class="asset_img_before_crop" style="">
                <img style="max-width: 980px; max-height: 980px; " id="image" src="{{imgSrc}}">
            </div>
            <button id="redo" type="button" class="button button-fill "><span class="f7-icons">forward</span></button>
            <button id="undo" type="button" class="button button-fill "><span class="f7-icons">reply</span></button>
        </div>


    </div>
</div>