<div class="page bg-color-page notification_page" data-page="notification">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <!-- <a href="#" class="link icon-only open-panel "> <i class="f7-icons icon-header-menu"></i></a> -->
                <a href="#" class="back link "> <i class="f7-icons icon-header-arrow-back"></i></a>
            </div>
            <div class="left navbar_title">{{@global.LANGUAGE.NOTIFICATION_MSG00}}</div>
            <div class="right">
                <a href="#" class="link deleteAllNotifications"><i class="f7-icons icon-header-delete"></i></a>
            </div>
        </div>
    </div>
    <div class="page-content ">
        <div class="list-block media-list no-hairlines notificationList">
            <ul>

            </ul>
        </div>
    </div>
</div>


<!--  
                <li class="swipeout" data-type="1">
                    <div class="swipeout-content item-content ">                        
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Type notification 1</div>
                                <div class="item-after">
                                    <div class="time show">07/18/2017 5:12 AM</div> 
                                    <div class="checkbox-hidden">
                                        <label class="label-checkbox item-content">
                                            <input type="checkbox" name="checkbox" >
                                            <span class="item-inner">
                                                <i class="icon icon-form-checkbox"></i>
                                            </span>                                           
                                        </label>                                        
                                    </div>
                                </div>                                
                            </div>
                            <div class="item-subtitle">IMEI: 893 144 040 000 760</div>
                            <div class="item-subtitle">Customer name 11</div>
                        </div>
                    </div>
                    <div class="swipeout-actions-right">                            
                        <a href="#" class="swipeout-delete " data-confirm="{{@global.LANGUAGE.PROMPT_MSG010}}" data-confirm-title="{{@global.LANGUAGE.PROMPT_MSG014}}" data-close-on-cancel="true"><i class="f7-icons icon-header-delete"></i></a>
                    </div>
                </li>
                <li class="swipeout" data-type="2">
                    <div class="swipeout-content item-content ">                        
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Type notification 2</div>
                                <div class="item-after">
                                    <div class="time show">07/18/2017 5:12 AM</div> 
                                    <div class="checkbox-hidden">
                                        <label class="label-checkbox item-content">
                                            <input type="checkbox" name="checkbox" >
                                            <span class="item-inner">
                                                <i class="icon icon-form-checkbox"></i>
                                            </span>                                           
                                        </label>                                        
                                    </div>
                                </div>                                
                            </div>
                            <div class="item-subtitle">IMEI: 893 144 040 000 760</div>
                            <div class="item-subtitle">Customer name 11</div>
                        </div>
                    </div>
                    <div class="swipeout-actions-right">                            
                        <a href="#" class="swipeout-delete " data-confirm="{{@global.LANGUAGE.PROMPT_MSG010}}" data-confirm-title="{{@global.LANGUAGE.PROMPT_MSG014}}" data-close-on-cancel="true"><i class="f7-icons icon-header-delete"></i></a>
                    </div>
                </li>
                <li class="swipeout" data-type="3">
                    <div class="swipeout-content item-content ">                        
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Type notification 3</div>
                                <div class="item-after">
                                    <div class="time show">07/18/2017 5:12 AM</div> 
                                    <div class="checkbox-hidden">
                                        <label class="label-checkbox item-content">
                                            <input type="checkbox" name="checkbox" >
                                            <span class="item-inner">
                                                <i class="icon icon-form-checkbox"></i>
                                            </span>                                           
                                        </label>                                        
                                    </div>
                                </div>                                
                            </div>
                            <div class="item-subtitle">IMEI: 893 144 040 000 760</div>
                            <div class="item-subtitle">Customer name 11</div>
                        </div>
                    </div>
                    <div class="swipeout-actions-right">                            
                        <a href="#" class="swipeout-delete " data-confirm="{{@global.LANGUAGE.PROMPT_MSG010}}" data-confirm-title="{{@global.LANGUAGE.PROMPT_MSG014}}" data-close-on-cancel="true"><i class="f7-icons icon-header-delete"></i></a>
                    </div>
                </li>
                -->